.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.Gameboard { 
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-height: 6vh;
  min-width: 42rem;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.Card_Gutter {
  background-color: darkblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  min-height: 20vh;
  min-width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.Card {
  background-color: lightsteelblue;
  color: black;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-height: 20vh;
  min-width: 8rem;
  align-items: center;
  margin: 0rem 1rem 3rem;
  border-radius: 5px;
}

.Middle_Card {
  margin: 3rem 0rem -3rem;
}

.Pot {
  background-color: orchid;
  color: black;
  display: flex;
  padding: 0.5rem;
  min-height: 15vh;
  min-width: 15vh;
  margin: 1rem;
  border-radius: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Button_Panel {
  background-color: mediumaquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  min-height: 18vh;
  min-width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.Bet_Display {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-height: 10vh;
  min-width: 7rem;
  align-items: center;
  margin: 0.5rem;
  border-radius: 5px;
  flex-grow: 0;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 18vh;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.Bet_Panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  min-height: 18vh;
  min-width: 0;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.Increase_Bet, .Decrease_Bet {
  color: black;
  background-color: transparent;
  display: flex;
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top: 0rem solid transparent;
  border-bottom: 3rem solid rosybrown;
  flex-direction: column;
  line-height: 62.5px;
  align-items: center;
}

.Decrease_Bet {
  transform: rotate(180deg);
}

.Increase_Bet:hover, .Decrease_Bet:hover {
  border-bottom: 3rem solid #de8f8f;
}

.Increase_Bet:active, .Decrease_Bet:active {
  border-bottom: 3rem solid #de5f5f;
}

.Play_Deal {
  background-color: rosybrown; /* #bc8f8f = rosybrown */
  color: black;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-height: 10vh;
  min-width: 7rem;
  align-items: center;
  margin: 0.5rem;
  border-radius: 5px;
  flex-grow: 0;
  border: 0;
}

.Play_Deal:hover {
  background-color: #de8f8f;
}

.Play_Deal:active {
  background-color: #de5f5f;
}

